In [3]:
a= 5

In [4]:
a

5

In [5]:
a = 10

In [6]:
a+a

20

In [7]:
a

10

In [10]:
a= a + a

In [11]:
a

40

In [12]:
type(a)

int

In [13]:
a = 30.1

In [14]:
type(a)

float

In [15]:
my_income = 100

tax_rate = 0.1

In [16]:
my_taxes = my_income * tax_rate

In [17]:
my_taxes

10.0

In [18]:
# strings

In [19]:
'hello'

'hello'

In [20]:
print("hello")

hello

In [22]:
print("hello \nworld")

hello
world

In [23]:
print("hello \tworld")

hello 	world

In [24]:
len('hello')

5

In [25]:
len('I am')

4

In [30]:
# string indexing

mystring = 'Hello World'

In [27]:
mystring

'Hello World'

In [28]:
mystring[0]

'H'

In [29]:
mystring[8]

'r'

In [31]:
mystring[-2]

'l'

In [32]:
mystring[-1]

'd'

In [34]:
# slicing
mystring = 'abcdefghijk'

In [35]:
mystring

'abcdefghijk'

In [36]:
mystring[2]

'c'

In [37]:
mystring[2:]

'cdefghijk'

In [39]:
mystring[:3]

'abc'

In [40]:
mystring[3:6]

'def'

In [41]:
# step size

mystring[::]

'abcdefghijk'

In [42]:
mystring[::2]

'acegik'

In [43]:
mystring[2:7:2]

'ceg'

In [44]:
mystring[::-1] # this reverses the string

'kjihgfedcba'

In [45]:
# string properties and methods

In [46]:
# Immutability
name = "Sam"

In [47]:
#name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [48]:
name[1:]

'am'

In [55]:
# string concatenation; essentially just adding two strings together.

In [49]:
last_letters = name[1:]

In [50]:
last_letters

'am'

In [51]:
"P" + last_letters

'Pam'

In [52]:
x = "Hello World"

In [54]:
x + ", it is beautiful outside!"

'Hello World, it is beautiful outside!'

In [56]:
letter = "z"

In [57]:
letter * 10

'zzzzzzzzzz'

In [58]:
2 + 3

5

In [59]:
"2" + "3"

'23'

In [60]:
x = "Hello World"

In [61]:
x.upper()

'HELLO WORLD'

In [62]:
x

'Hello World'

In [63]:
x.upper

In [64]:
x.split()

['Hello', 'World']

In [65]:
x = "This is a string"

In [66]:
x.split()

['This', 'is', 'a', 'string']

In [67]:
x.split('i')

['Th', 's ', 's a str', 'ng']

In [68]:
# String formatting for printing

In [69]:
# formatting with the .format() method

print("This is a string {}".format("INSERTED"))

This is a string INSERTED

In [70]:
print("The {} {} {}".format("fox", "brown", "quick"))

The fox brown quick

In [71]:
print("The {2} {1} {0}".format("fox", "brown", "quick"))

The quick brown fox

In [72]:
print("The {0} {0} {0}".format("fox", "brown", "quick"))

The fox fox fox

In [74]:
print("The {q} {b} {f}".format(f ="fox", b='brown', q='quick'))

The quick brown fox

In [75]:
# float formatting follows "{value:width.precision f}"

result = 100/777

In [76]:
result

0.1287001287001287

In [77]:
print('The result was {}'.format(result))

The result was 0.1287001287001287

In [78]:
print('The result was {r}'.format(r = result))

The result was 0.1287001287001287

In [79]:
print('The result was {r:1.3f}'.format(r = result))

The result was 0.129

In [80]:
print('The result was {r:10.3f}'.format(r = result))

The result was      0.129

In [81]:
print('The result was {r:1.5f}'.format(r = result))

The result was 0.12870

In [82]:
result = 104.12345

In [83]:
print('The result was {r:1.3f}'.format(r = result))

The result was 104.123

In [84]:
# f-string, formatted string literal method

In [85]:
name = "Gary"

In [87]:
print("Hello, his name is {}".format(name))

Hello, his name is Gary

In [89]:
print("Hello, his name is {name}") # without the f before string, doesn't work

Hello, his name is {name}

In [90]:
print(f"Hello, his name is {name}") # f before string

Hello, his name is Gary

In [91]:
name = "Sam"
age = 3

In [92]:
print(f"{name} is {age} years old.")

Sam is 3 years old.

In [93]:
# Lists in Python

In [94]:
my_list = [1,2,3]

In [95]:
my_list = ["STRING", 100,23.2]

In [96]:
len(my_list)

3

In [97]:
mylist= ['one', 'two', 'three']

In [98]:
mylist[0]

'one'

In [99]:
mylist[1:]

['two', 'three']

In [100]:
mylist

['one', 'two', 'three']

In [101]:
another_list = ['four', 'five']

In [102]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [103]:
mylist

['one', 'two', 'three']

In [104]:
another_list

['four', 'five']

In [105]:
new_list = mylist + another_list

In [106]:
new_list

['one', 'two', 'three', 'four', 'five']

In [107]:
new_list[0] = "ONE ALL CAPS"

In [108]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [109]:
new_list.append('six')

In [110]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [111]:
new_list.pop()

'six'

In [112]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [113]:
new_list.append('six')

In [114]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [115]:
popped_item = new_list.pop()

In [116]:
popped_item

'six'

In [117]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [118]:
new_list.pop(0)

'ONE ALL CAPS'

In [119]:
new_list

['two', 'three', 'four', 'five']

In [120]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [121]:
new_list.sort()

In [122]:
new_list

['a', 'b', 'c', 'e', 'x']

In [123]:
# Example of how not to do

my_sorted_list = new_list.sort()

In [124]:
my_sorted_list

In [125]:
type(my_sorted_list) # a none object is an indication of no value

NoneType

In [126]:
new_list.sort()
my_sorted_list = new_list

In [127]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [128]:
num_list.sort()
num_list

[1, 3, 4, 8]

In [129]:
num_list.reverse()

In [130]:
num_list

[8, 4, 3, 1]

In [131]:
new_list

['a', 'b', 'c', 'e', 'x']

In [132]:
new_list[1:]

['b', 'c', 'e', 'x']

In [133]:
# Dictionaries

In [134]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

In [135]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [136]:
my_dict['key1']

'value1'

In [137]:
prices_lookup = {'apple': 2.99, 'oranges': 1.99, 'milk':5.80}

In [138]:
prices_lookup['apple']

2.99

In [142]:
d = {'k1':123,'k2':[0,1,2], 'k3':{'insidekey':100}}

In [143]:
d['k2']

[0, 1, 2]

In [144]:
d['k3']

{'insidekey': 100}

In [145]:
d['k3']['insidekey']

100

In [146]:
d['k2'][2]

2

In [147]:
d = {'key1':['a','b','c']}

In [148]:
d

{'key1': ['a', 'b', 'c']}

In [149]:
mylist = d['key1']

In [150]:
mylist

['a', 'b', 'c']

In [151]:
letter = mylist[2]

In [152]:
letter

'c'

In [153]:
letter.upper()

'C'

In [154]:
d['key1'][2].upper()

'C'

In [156]:
d = {'k1':100, 'k2':200}

In [157]:

d

{'k1': 100, 'k2': 200}

In [159]:
d['k3'] = 300

In [160]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [161]:
d["k1"] = 'New Value'

In [162]:
d

{'k1': 'New Value', 'k2': 200, 'k3': 300}

In [163]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [164]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [165]:
d.values()

dict_values([100, 200, 300])

In [166]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [167]:
# Tuples with Python - Immutability

In [168]:
t = (1,2,3)

In [169]:
mylist = [1,2,3]

In [170]:
type(t)

tuple

In [171]:
type(mylist)

list

In [172]:
len(t)

3

In [173]:
t

(1, 2, 3)

In [174]:
t = ('one',2)

In [175]:
t[0]

'one'

In [176]:
t[-1]

2

In [177]:
t = ('a','a','b')

In [179]:
t.count('a')

2

In [180]:
t.index('a')

0

In [181]:
t.index('b')

2

In [182]:
t

('a', 'a', 'b')

In [183]:
mylist

[1, 2, 3]

In [184]:
mylist[0] = "New"

In [185]:
mylist

['New', 2, 3]

In [186]:
t[0] = "NEW"

TypeError: 'tuple' object does not support item assignment

In [187]:
# Sets in Python - sets are unordered collections of elements

In [188]:
myset= set()

In [189]:
myset

set()

In [190]:
myset.add(1)

In [191]:
myset

{1}

In [192]:
myset.add(2)

In [193]:
myset

{1, 2}

In [194]:
myset.add(2) # has to be unique values

In [195]:
myset

{1, 2}

In [196]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3,3]

In [197]:
set(mylist)

{1, 2, 3}

In [198]:
# Booleans - True or False statements

In [199]:
True

True

In [200]:
true

NameError: name 'true' is not defined

In [201]:
False

False

In [202]:
type(False)

bool

In [203]:
1 > 2

False

In [204]:
b = None

In [205]:
b

In [206]:
type(b)

NoneType

In [207]:
# input/output (I/O) with basic files in python

In [208]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [209]:
myfile = open('myfile.txt')

In [210]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [212]:
pwd # print working directory

'/home/nbuser/library'

In [213]:
myfile = open('myfile.txt')

In [214]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [215]:
myfile.read() # need to reset the cursor placement of the file

''

In [216]:
myfile.seek(0)

0

In [217]:
contents = myfile.read()

In [218]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [219]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [220]:
myfile.seek(0)

0

In [221]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line']

In [222]:
# opening a text file located somewhere else, provide full file path.

# myfile = open("C:\\Users\\UserName\\Folder\\test.txt")

In [223]:
# have to close the file manually when done

myfile.close()

In [224]:
myfile = open("myfile.txt")

In [225]:
with open('myflie.txt') as my_new_file:
    contents = my_new_file.read()

FileNotFoundError: [Errno 2] No such file or directory: 'myflie.txt'

In [226]:
with open('test.txt',mode ='r') as myfile:
    contents = myfile.read()

In [227]:
contents

'First Line\nSecond Line'

In [228]:
with open('test.txt',mode ='w') as myfile:  # w is write, a is append, r is read.  r is default
    contents = myfile.read()              # r+ is reading and writing, w+ is writing and reading (overwrites existing files)

UnsupportedOperation: not readable

In [236]:
%%writefile my_new_file.txt
One On First
Two on Sceond
Three on Thrid

Overwriting my_new_file.txt

In [231]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

One On First
Two on Sceond
Three on Thrid

In [237]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('\nFour On Fourth')

In [238]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

One On First
Two on Sceond
Three on Thrid
Four On Fourth

In [239]:
with open('djaoiujrlauhjfljd.txt',mode='w') as f:
    f.write("I created this file!")

In [240]:
with open('djaoiujrlauhjfljd.txt',mode = 'r') as f:
    print(f.read())

I created this file!