If, elif, and Else statements in python

syntax of an **if/elif/else** statements

    if some_condition:
         excute some code
    elif some_other_condition:
        do something different
    else:
        do something else

In [1]:
if True:
    print("It is true!")

It is true!

In [2]:
if 3 > 2:
    print("It is true!")

It is true!

In [3]:
hungry = True

if hungry:
    print("Feed me!")

Feed me!

In [7]:
hungry = False

if hungry:
    print("Feed me!")
else:
    print("I'm not hungry..")

I'm not hungry..

In [8]:
# multiple branches

In [9]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
else: 
    print("I do not know much.")

I do not know much.

In [10]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("I love money!!")
else: 
    print("I do not know much.")

I love money!!

In [11]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("I love money!!")
else: 
    print("I do not know much.")

Cars are cool!

In [12]:
loc = 'home'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("I love money!!")
else: 
    print("I do not know much.")

I do not know much.

In [13]:
name = 'Sammy'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

Hello Sammy!

# For Loops#

**syntax of a for loop**

    my_iterable = [1,2,3]
    for item_name in my_iterable:
        print(item_name)

In [14]:
mylist= [1,2,3,4,5,6,7,8,9,10]

In [15]:
for num in mylist:   # this variable "num" can be anything you want, but the iterable "mylist" must be exact
    print(num)

1
2
3
4
5
6
7
8
9
10

In [16]:
for num in mylist:   # this variable "num" can be anything you want, but the iterable "mylist" must be exact
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [17]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [18]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [19]:
list_sum = 0 

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [20]:
list_sum = 0 

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)          # Difference btw the indentation and no indent

1
3
6
10
15
21
28
36
45
55

In [21]:
# strings are a sequence so you can iterate through them

In [22]:
mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [23]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [24]:
# tuples

In [26]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [27]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [28]:
len(mylist)

4

In [29]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [30]:
for (a,b) in mylist:    # this is tuple unpacking
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [31]:
for a,b in mylist:
    print(b)

2
4
6
8

In [32]:
my_list = [(1,2,3),(5,6,7),(8,9,10)]

In [34]:
for item in my_list:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [36]:
for a,b,c in my_list:
    print(b)

2
6
9

In [37]:
# iterating through a dictionary

In [38]:
d = {'k1':1, 'k2':2, 'k3':3}

In [39]:
for item in d:
    print(item)

k1
k2
k3

In [40]:
for item in d.items():    # same unpacking technique like we used for tuple unpacking
    print(item)           # iterating through items.

('k1', 1)
('k2', 2)
('k3', 3)

In [42]:
for item in d.values():    # printing just the values
    print(item)

1
2
3

# While loops#

*Syntax of a while loop*

    while some_boolean_condition:
        do something
    else:
        do something else

In [44]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')  # just running this alone would be infinite; x isn't changing yetttt
    x = x+1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

### If you end up accidentally creating an infinite loop, you can reset things in the notebook by going to "Kernel" > "interrupt" and if that does not work then hit "restart"

In [45]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')  
    x += 1    # this is a sleeker way of writing the same code as above

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [46]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')  
    x += 1 
else:
    print("X is not less than 5!")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5!

# break, continue, pass

We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
Thinking about <code>break</code> and <code>continue</code> statements, the general format of the <code>while</code> loop looks like this:

    while test: 
        code statement
        if test: 
            break
        if test: 
            continue 
    else:

<code>break</code> and <code>continue</code> statements can appear anywhere inside the loopâ€™s body, but we will usually put them further nested in conjunction with an <code>if</code> statement to perform an action based on some condition.

Let's go ahead and look at some examples!

In [47]:
x = [1,2,3]

for item in x:
    # comment

SyntaxError: unexpected EOF while parsing (<ipython-input-47-2f2e37c9607a>, line 4)

In [49]:
# pass: Does nothing at all.

x = [1,2,3]

for item in x:
    # comment - This avoids the above syntax error (pass keyword)
    pass

print('end of my script')

end of my script

In [50]:
mystring = 'Sammy'

In [51]:
for letter in mystring:
    print(letter)

S
a
m
m
y

In [53]:
# continue: Goes to the top of the closest enclosing loop.

for letter in mystring:
    if letter == 'a':
        continue # this is how to use the continue statement
    print(letter)

S
m
m
y

In [54]:
# Break statement - Breaks out of the current closest enclosing loop.

for letter in mystring:
    if letter == 'a':
        break # this is how to use the break statement
    print(letter)

S

In [55]:
x = 0 

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1

0
1

# Useful Operators #

There are a few built-in functions and "operators" in Python that don't fit well into any category, so we will go over them in this lecture, let's begin!

### range ###

The range function allows you to quickly generate a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size. Let's see some examples:

    -

In [56]:
mylist = [1,2,3]

In [57]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [59]:
for num in range(0,10,2):  # from 0, to 10(not including 10), by a step-size of 2
    print(num)

0
2
4
6
8

In [60]:
for num in range(0,11,2):  # from 0, to 10(needed to set 11 as limit to get 10), by a step-size of 2
    print(num)

0
2
4
6
8
10

In [61]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [62]:
index_count = 0

for letter in 'abcde':
    print('At index{} the letter is {} '.format(index_count, letter))
    index_count +=1

At index0 the letter is a
At index1 the letter is b
At index2 the letter is c
At index3 the letter is d
At index4 the letter is e

In [63]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count +=1

a
b
c
d
e

In [64]:
# enumerate() gives us the same as above in the form of a tuple

word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [66]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [67]:
# Zip function - "zips together" two lists

mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [68]:
zip(mylist1,mylist2)

In [69]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [70]:
# more than just 2 lists...

mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [71]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [72]:
# What if one of the lists are uneven or don't match the other's total elements?

mylist1 = [1,2,3,4,5,6,7,8,9,10]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [73]:
# it will ignore all extra elements.. prints only the amount of shortest lists.

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [74]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [75]:
# "in" operator, used to check if something is in a list

In [76]:
'x' in [1,2,3]

False

In [77]:
'x' in ['x','y','z']

True

In [78]:
'a' in 'a world'   # in a string

True

In [79]:
'mykey' in {'mykey': 345}  # in a dictionary

True

In [80]:
d = {'mykey':345}

345 in d.keys()

False

In [81]:
# min/max

mylist = [10,20,30,40,100]

In [82]:
min(mylist)

10

In [83]:
max(mylist)

100

In [84]:
# random library, hit tab after "import" to see all the other functions

In [85]:
from random import shuffle

In [86]:
mylist = [1,2,3,4,5,6,7,9,10]

In [88]:
random_list = shuffle(mylist)

In [90]:
mylist

[3, 10, 6, 2, 4, 9, 5, 1, 7]

In [91]:
mylist

[3, 10, 6, 2, 4, 9, 5, 1, 7]

In [92]:
from random import randint

In [93]:
randint(0,100) # pass in a range, from a number, to a number (i.e., 0 to 100)

39

In [94]:
mynum = randint(0,10)
mynum

9

In [95]:
input("Enter a number: ")

Enter a number: 50

'50'

In [104]:
# typically you'd want to save the input as some sort of result

result = input("Enter a number: ")

Enter a number: 50

In [105]:
result

'50'

In [106]:
type(result) # 50 is saved as a string.. but it's an integer

str

In [101]:
result = input("What is your name? ")

What is your name? Gary

In [102]:
result

'Gary'

In [103]:
type(result) # result is a string

str

In [107]:
# input function wants a string, but to tell it to expect a number use int()
result = int(input("What is your favorite number? "))

What is your favorite number? 29

In [108]:
result

29

In [110]:
type(result) # now the result is saved as an int value

int

In [112]:
# what if the user inputs a wrong data type when specified?  .. get an error
result = int(input("What is your favorite number? "))

What is your favorite number? Gary

ValueError: invalid literal for int() with base 10: 'Gary'

# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [114]:
mystring = 'hello'

In [118]:
mylist = [] # using an empty list, to fill it with each letter of string

In [119]:
for letter in mystring:
    mylist.append(letter)

In [120]:
mylist

['h', 'e', 'l', 'l', 'o']

In [121]:
# doing this on a single line

mylist = [letter for letter in mystring]

In [122]:
mylist

['h', 'e', 'l', 'l', 'o']

In [124]:
mylist = [x for x in 'word']

In [125]:
mylist

['w', 'o', 'r', 'd']

In [126]:
mylist = [num for num in range(0,11)]

In [127]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [130]:
mylist = [num**2 for num in range(0,11)] # getting the squared values

In [129]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [131]:
mylist = [x for x in range(0,11) if x%2 ==0] # to check even numbers

In [132]:
mylist

[0, 2, 4, 6, 8, 10]

In [133]:
mylist = [x**2 for x in range(0,11) if x%2 ==0] # square of even numbers

In [134]:
mylist

[0, 4, 16, 36, 64, 100]

In [135]:
# flattened version, using list comprehension

celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [136]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [137]:
# This is the same as the code above, but uses a for loop
fahrenheit = []

for temp in celcius: fahrenheit.append(( (9/5)*temp + 32 ))

In [138]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [139]:
# not the most readable method, but definitely more compressed
# Using if/else in list comprehension

results = [x if x%2 == 0 else 'ODD' for x in range (0,11)]

In [140]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [141]:
# nested loops in list comprehension

In [142]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [143]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [144]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)
# what happens is; 2*1, 2*10, 2*1000, 4*1, 4*10, 4*1000, 6*1, 6*10, 6*1000
## so basically for each element in the first list, some function or action is taking place
### for each of the elements of the nested list, before moving onto the next one in the original list.

In [145]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [146]:
# with list comprehension, sacrificing readability

mylist= [x*y for x in [2,4,6] for y in [1,10,1000]]

In [147]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]